configuration {
	color-normal:                   "#04060C, #e7feff, #04060C, #3578C8, #e7feff";
	color-urgent:                   "#04060C, #4dbaff, #04060C, #3578C8, #4dbaff";
	color-active:                   "#04060C, #4dbaff, #04060C, #3578C8, #4dbaff";
	color-window:                   "#04060C, #5e87d9, #afd0ff";
}
