configuration {
	color-normal:                   "#0a0609, #fdffff, #0a0609, #627490, #fdffff";
	color-urgent:                   "#0a0609, #deb27c, #0a0609, #627490, #deb27c";
	color-active:                   "#0a0609, #deb27c, #0a0609, #627490, #deb27c";
	color-window:                   "#0a0609, #ff4250, #e18160";
}
