configuration {
	color-normal:                   "#211923, #ffffe5, #211923, #9E6A4A, #ffffe5";
	color-urgent:                   "#211923, #ffb245, #211923, #9E6A4A, #ffb245";
	color-active:                   "#211923, #ffb245, #211923, #9E6A4A, #ffb245";
	color-window:                   "#211923, #ff9144, #ffd17a";
}
