configuration {
	color-normal:                   "#07040C, #ecefff, #07040C, #2C4CAA, #ecefff";
	color-urgent:                   "#07040C, #fccb77, #07040C, #2C4CAA, #fccb77";
	color-active:                   "#07040C, #fccb77, #07040C, #2C4CAA, #fccb77";
	color-window:                   "#07040C, #e24d40, #b7d6ff";
}
