#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Facebook
Exec=/usr/bin/google-chrome-stable --app=https://facebook.com
TryExec=/usr/bin/google-chrome-stable
Icon=facebook
StartupWMClass=facebook
